/*Normal*/
.responsive-caret-down {
	float: right;
}

/* effect-1 styles */
.a-submenu:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  transition: all 0.2s linear 0s;
}

.a-submenu:hover:before {
  opacity: 1;
  text-indent: 0px;
}



/* Use a media query to add a break point at 869px: */
@media screen and (max-width:869px) {
  .responsive-caret-down {
    margin-right: 33px;
  }
}

/* Use a media query to add a break point at 767px: */
@media screen and (max-width:767px) {
  .responsive-caret-down {
    margin-right: 2px;
  }
}